header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
nav{
    display:flex;
    column-gap: 32px;
}
.headerLogo{
    position: relative;
    padding: 24px;
    height: 72px;
    transition: height 150ms;
}
.headerLogo:hover{
    height: 80px;
    
}
.menuItem{
    font-family: 'Sarala', sans-serif;
    color: #fff2e7;
    font-weight: 400;
    text-decoration: none;
    transition: font-size 150ms,
    border 150ms,
    border-radius 150ms;
}
.menuItem:hover{
    padding: 5px;
    border: 0.4px solid rgba(255, 242, 231,0.27);
    border-radius: 10px;
    font-size: 18px;
    box-shadow: inset 4px 5px 4px rgba(0, 0, 0, 0.25);
    
}
