main, section{
    font-family: 'Sarala', sans-serif;
}
.content{
    border-top: 0.4px solid rgba(255, 242, 231,0.27);
    color: #fff2e7;
    margin-bottom: 40px;
}
.mainContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.contentTitle{
    display: flex;
    flex-direction: column; 
}
.botTitle{
    font-weight: 400;
    font-size: 64px;
    color: #fff2e7;
    transition: font-size 100ms;
}
.botTitle:hover{
    font-size: 70px;
}
.botCatch{
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
    transition: font-size 250ms;
}
.botCatch:hover{
    font-size: 30px;
}
.joinButton{
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    text-align: center;
    color: #2F2325;
    border: none;
    max-width: 180px;
    min-height: 60px;
    margin-top: 15px;
    background-color: rgb(236, 215, 197);
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: background-color 150ms,
    font-size 150ms,

}
.joinButton:hover{
    background-color: rgba(236, 215, 197, 0.75);
    font-size: 26px;
    
}
.contentSecond-Desc{
    font-family: 'Sarala', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}
.contentLogo{
    min-height: 80%;
    width: auto;
    transition: height 150ms;
}
.contentLogo:hover{
    height: 100%;
}
.mainTitle{
    border-top: 0.4px solid rgba(255, 242, 231,0.27);
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 16px;
    transition: font-size 100ms;
}
.mainTitle:hover{
    font-size: 28px;

}
.secondText{
    font-family: 'Sarala',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #ECD6C4;
    transition: font-size 100ms,
    text-decoration 200ms;
}
.secondText strong{
    font-weight: 500;
}
.secondText:hover strong{
    text-decoration: underline;
}
.secondText:hover{
    font-weight: 500;
    font-size: 20px;
}
